@charset "uft-8";
.double-con{
	position:relative ;
	padding-left:32px;
	margin-bottom: 20px;
	height: 410px;
}
.double-con a{
	display: inline-block;
	font-size:16px;
	color: #000;
}
.double-con a:hover{
	color:rgb(0,189,15);
}
.double-con .sprites-body1{margin-bottom:10px;}
.double-con  p{
	display: inline-block;
	margin: 0;
	font-size:24px;
	text-align:center;
	font-weight: bold;
}
.double-con .todayFocus-title{margin-bottom: 15px;}
.double-con .todayFocus-title i{
	color:rgb(0,189,15);
}
.double-con .second-int{
	position: absolute;
	top:0px;
	right:72px;
}
.sprites-body2{background-position: -80px 0px;}
.sprites-body3{background-position: -120px 0px;}
.sprites-body4{background-position: -200px 0px;}
.sprites-body5{background-position: -320px 0px;}
.sprites-body6{background-position: -360px 0px;}
.sprites-body7{background-position: -80px -80px;}
.sprites-body8{background-position: -240px -40px;}
.sprites-body9{background-position: -40px -40px;}
.sprites-body10{background-position: 0px -40px;}
.sprites-body11{background-position: -160px -80px;}
.sprites-body12{background-position: -80px -80px;}
.sprites-body13{background-position: -200px -40px;}
.sprites-body14{background-position: -240px -80px;}
.sprites-body15{background-position: -320px -40px;}
.sprites-body16{background-position: -120px -80px;}
.sprites-body17{background-position: -360px -40px;}
.sprites-body18{background-position: 0px -80px;}
.sprites-body19{background-position: -120px -40px;}
.sprites-body20{background-position: -280px -80px;}
.double-con .f-pic{
	position: relative;
	display: inline-block;
	width: 427px;
}
.double-con img{	transition:1s;}

.double-con .specila{
	font-size:12px;
	color:rgb(152,152,152);
}
.s-pic{
	position: absolute;
	display: inline-block;
}
.s-pic ul{
	display: inline-block;
	height: 356px;
	width: 212px;
}
.s-pic li {
	position: relative;
	background-color: #f8f8f8;
	margin-bottom: 24px;
}
.s-pic2 li {
	margin-bottom: 0px;
}
.s-pic li img{
	width: 212px;
}
.s-pic li:hover img{
	transform:scale(1.05);
}
.s-pic li:hover .m-m{
	display: block;
}
.f-pic:hover img{
	transform:scale(1.05);
}
.f-pic div{
	display: inline-block;
	width: 427px;
	height: 355px;
	overflow: hidden;
		background-color: #f8f8f8;
}
.f-pic img{
	width: 424px;
	height: 300px;
}
.s-pic .special div{
	margin-bottom: 14px;
}
.double-con .arrows{
	position: absolute;
	display: block;
	width: 35px;
	height: 50px;

	z-index: 3;
}
.f-pic .left{
	top:125px;
	left:0px;
	background: url("../images/body/sprite-common-icons.png")no-repeat -207px -20px;
}
.f-pic .right{
	top:125px;
	right:-5px;
	background: url("../images/body/sprite-common-icons.png")no-repeat -170px -20px;
}
.double-con .time{
	position: absolute;
	right:5px;
	bottom:63px;
	font-size:13px;
	color:#fff;
	background-color: rgba(0,0,0,.7);
	border-radius:20px;
	z-index: 3;
}
.s-pic .f-m{
	position: relative;
	width: 212px;
	height: 178px;
	overflow: hidden;
}
.s-pic li .m-m{
	display: none;
	transition:all 2s;
	position: absolute;
	top:-45px;
	left:-20px;
	width: 250px;
	height: 257px;
	background-color: #fff;
	z-index:4;
		overflow: visible;
}
.s-pic li .m-m .collect{
	position: absolute;
	top:145px;
	right:10px;
	display: inline-block;
	width: 56px;
	height: 21px;
	font-size:13px;
	border-radius:10px ;
	color: #fff;
	background-color:rgb(0,189,15);
	text-align:center;
	line-height: 21px;

}

.s-pic .m-m  img{
	width:250px;
}
.s-pic .m-m .m-pic{
	width:250px;
	height: 142px;
	overflow: hidden;
}
.double-con .play{
	top:90px;
	right:0px;
	width: 50px;
	background: url("../images/body/sprite-common-icons.png")no-repeat -60px 0px;
}
/* .s-pic ul .special{margin-top:20px;} */
.s-pic .special .no-b-t{margin-bottom: 0;}
.s-pic .special .f-m{margin-bottom: 0;}