@charset "uft-8";
body{
	overflow-x:hidden;
	min-width:1295px;
	font:15px/1.5 "微软雅黑" white;
}
body,ul,ol,dl,dt,dd,h1{margin:0;padding:0;}
a{color:#000;text-decoration: none;	font-size:14px;}
ul,li{list-style: none;}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}
body{
	background: url("../images/head/bg.jpg") no-repeat -190px 0px;
}
.adj{margin-left: 32px;margin-bottom: 40px;}
